{% extends 'base.html' %}

{% block body %}
     <h2>Hello {{ user.username }}  </h2>


    <h3> Which project are you currently working on?</h3>
    <ul class="list-group">
        {% for project in projects %}
            <li class="list-group-item"><a href="/ironman/{{ project.project.id }}/ ">{{ project }}</a></li>
        {% endfor %}
    </ul>

     {% if projects|length  < 3 %}

              <a href="/account/add_project/"> <button class="btn btn-success" >Add Project</button> </a>

        {% endif %}

{% endblock %}