{% extends 'base.html' %}

{% block body %}
     <h2>Hello {{ user.username|title }}  </h2>


    <h3> Which project are you currently working on?</h3>
  <!---  <ul class="list-group">
        {% for project in projects %}
            <li class="list-group-item"><a href="/ironman/{{ project.project.id }}/ ">{{ project }}</a></li>
        {% endfor %}
    </ul> --->

    <div class="row">

    {% for project in projects %}

      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="https://upload.wikimedia.org/wikipedia/en/0/0c/Mu_Sigma_Logo.jpg" alt="...">
          <div class="caption">
            <h3>{{ project|title }}</h3>
            <p>{{ project.prob_stat|title }}</p>
            <p><a href="/ironman/{{ project.project.id }}/" class="btn btn-primary" role="button"> View</a></p>
          </div>
        </div>
      </div>

    {% endfor %}
    </div>

     {% if projects|length  < 3 %}

              <a href="/account/add_project/"> <button class="btn btn-success" >Add Project</button> </a>

        {% endif %}

{% endblock %}