{% extends 'base.html' %}

    <div class="container">

    {% block body %}

        {% if user.groups.all.0.name !=  'Clien' %}

        {% if not user.is_authenticated %}
            <h2>Register</h2>
        {% endif %}

        <form action = "" method="post">
            {% csrf_token %}
            {{ form.as_p    }}
            <button type="submit" class="btn btn-danger" >Submit</button>
        </form>
        {% endif %}
    {% if shared %}
        <h3>Problem Statement:</h3><h4>{{ prob }}</h4>
        {% for share in shared %}
            {{ share.text }}
        {% endfor %}

     {% endif %}
    {% endblock %}

</div>

