{% extends 'base.html' %}
{% load bootstrap3 %}
    <div class="container">

    {% block body %}
        <h3 >Problem Statement:</h3>
        <div >
            <blockquote>{{ prob }}</blockquote>
        </div>

        <h2> Team has shared following with you</h2>

        {% if shared %}
            <div class="container">

                {% for share in shared %}

                    {{ share.time|date }}
                    <div class="container">
                    {{ share.text|safe }}
                    </div>
                    <br>
                    <hr>
                {% endfor %}
            </div>

        {% endif %}
        <br><br>
        {% if is_active %}
        <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#demo">Evaluate</button>
        <div id="demo" class="collapse">
            <form action="" method="post" class="form">
                {% csrf_token %}
                {% bootstrap_form form layout='layout' %}
                {% buttons %}
                    <button type="submit" class="btn btn-primary">
                        {% bootstrap_icon "star" %} Submit
                    </button>
                {% endbuttons %}
            </form>
        </div>
        {% endif %}
    </div>
    {% endblock %}